<div class="row justify-content-center">
  <div class="col-lg-5 col-md-7">
    <div class="card bg-secondary border-0 mb-0">
      <!-- <div class="card-header bg-transparent pb-5">
        <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
        <div class="btn-wrapper text-center">
          <a href="#" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
            <span class="btn-inner--text">Github</span>
          </a>
          <a href="#" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
            <span class="btn-inner--text">Google</span>
          </a>
        </div>
      </div> -->
      <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
          <h1>Đăng nhập</h1>
        </div>
        <form action="/post-login" method="post">
          <div class="mb-3">
            <label class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" id="passWord" name="passWord" required>
          </div>
          <%if(!checkMK){%>
            <p class="text-red">Vui lòng kiểm tra mật khẩu!</p>
            <%}%>
              <%if(!checkPhone){%>
                <p class="text-red">Vui lòng kiểm tra số điện thoại!</p>
                <%}%>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
        </form>
      </div>
    </div>
  </div>
</div>