<div class="header pb-6 d-flex align-items-center background-size: cover; background-position: center top;">
</div>

<div class="container-fluid mt--6">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">
              </h3>
            </div>
          </div>
        </div>
        <div class="card-body text-center h-100">
            <div style="height: 600px; align-items: center;">
              <div style="vertical-align: middle;">
                <h1 class="text-red">404</h1>
                <h2>Chức năng đang phát triển. Vui lòng quay lại sau!</h2>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>